html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Nutrino", sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#4070f4, #8aa9ff);
  }
  
  .container {
    position: relative;
    max-width: 650px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    font-size: 18px;
    color: #000000;
    font-weight: bolder;
    text-align: center;
  }
  
  textarea {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    margin: 20px 0;
    padding: 10px 0;
    resize: none;
    outline: none;
    border: 1px solid #aaa;
  }
  
  button {
    width: 100%;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #6e93f7;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #4070f4;
  }